.title-wrap{
    padding: 20px 0;
    border-radius: 20px;
    background-color: white;
}
.main-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.sub-title {
    font-size: 1rem;
    background-color: rgba(244, 244, 244, 0.6);
}
.ssub-title{
    font-size: 0.9rem;
    padding: 10px 0;
    border-width: 50%;
    background-color:var(--boxColor);
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
details summary::-webkit-details-marker {
  display: none;
}
details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    list-style: none;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}
  