.title-wrap{
    padding: 20px 0;
}
.main-title {
    font-size: 1.2rem;
    background-color: var(--maincolor);
    color: white;
}
.sub-title {
    font-size: 1.2rem;
    font-weight: 500;
}
/* .ssub-title-wrap{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */
.ssub-title{
    background-color: var(--lightGrey);
    font-size: 1.05rem;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    border-width: 50%;
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
details summary::-webkit-details-marker {
  display: none;
}
details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    list-style: none;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}
  